body {
    background: linear-gradient(-270deg, rgb(154, 196, 196), #6048a7);
    animation: BackgroundMove 8s ease infinite;
    background-size: 110% 110%; 
}

@keyframes BackgroundMove {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

h1, h2 {
    color: #32CD32;
    font-family: 'Press Start 2P', cursive;
}
h1 {
    font-size: 25px;
}


#homebut {
    position: absolute;
    left: 100px;
    color: #FFCCFF;
    font-family: 'Charmonman', cursive;
    font-weight: 700;
    font-size: 50px;
    top: 30px;
}

#codingbut {
    position: absolute;
    left: 25%;
    color: #FFCCFF;
    font-family: 'Charmonman', cursive;
    font-weight: 700;
    font-size: 50px;
    top: 30px;
}

#videobut {
    position: absolute;
    left: 47%;
    color: #FFCCFF;
    font-family: 'Charmonman', cursive;
    font-weight: 700;
    font-size: 50px;
    top: 30px;
}

#designbut {
    position: absolute;
    left: 70%;
    color: #FFCCFF;
    font-family: 'Charmonman', cursive;
    font-weight: 700;
    font-size: 75px;
    top: 80px;
}



#homebut:hover,#codingbut:hover,#videobut:hover {
    animation: abt 1s infinite ease-in-out;


}

#boxx {
    background-color: rgb(15, 15, 15);
    height: 150px;
    width: 100%;
    position: relative;
    top: -8px;
    left: -5px;
} 


@keyframes abt {
    0%   {background-color:#ffffff00; }
    50% {background-color:white;}
    100%   {background-color:#ffffff00; }
  }